body {
  background-color: rgb(8, 25, 33);
}

.back {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  width: 500px;
  margin: 50px auto;
  /* Adjust margin as needed */
  padding: 20px;
  /* Adjust padding as needed */
  background-color: rgb(36, 77, 96);
  ;
}

.back h3 {
  color: rgb(8, 25, 33);
  /* Adjust text color as needed */
}

.back input {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgb(8, 25, 33);
  /* Adjust border color as needed */
  border-radius: 5px;
  box-sizing: border-box;

  background-color: rgb(175, 175, 191);
}

.back button {
  background-color: rgb(8, 25, 33);
  color: white;
  padding: 10px;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  border-radius: 15px;
  cursor: pointer;
  width: 200px;
}


.back img {
  width: 40%;
  border-radius: 50%;
  margin-bottom: 20px;
}


.back label {
  color: rgb(8, 25, 33);
  margin-bottom: 8px;
  text-align: left;
  display: block;
}

.back p {
  color: red;
  text-align: left;

}
