.navhead {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #2D313A;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 1px 5px black;
}

.icon {
  /* margin: 10px auto; */
  /* Adjust margin as needed */
     width: 500px;
  display: flex;
  align-items: center;
  position: relative;
  margin:  auto;
    justify-content: space-between;
     color: white;
}
.icon div{
     margin-top: 10px;
     
   
}
.icon p {
     margin-top: 10px;
   
}
  .icon a {
     text-decoration: none;
        color: white;
      
  }
  .icon a:hover {
    text-decoration: none;
      color: rgb(229, 232, 235); 
  }
.navhead input {
  margin: 10px;
  width: 250px;
  height: 28px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: none;

  background-color: rgb(180, 183, 185);
}

.button {
  background-color: rgb(180, 183, 185);
  border: none;
  border-radius: 10px;
  margin-right: 4.4px;
  cursor: pointer;
  width: 30px;
  padding: 4px;
  position: absolute;
  right: 5px;
}
 
.link {
  display: flex;
  gap: 30px;
  margin: 10px 0px;
}

.link a {
  font-size: 29px;
  color: white;
  text-decoration: none;
}

.title {

  color: rgb(249, 246, 246);
  margin: 10px 0;
 
  /* Adjust margin as needed */
}

.link button {
  width: 100px;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgba(31, 31, 37, 0.605);
}

.navhead h3{
   
      color: rgba(255, 255, 255, 0.68);
        font-style: italic;
       margin-right: 100px;
}

.navhead a {
  text-decoration: none; 
  
}

.navhead a:hover {
  text-decoration: none; 
}


