.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    border-radius: 50%;
    margin: 0 5px;
    color: white;
    background-color: #3f51b5;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #6573c3;
    }
  
    &.active {
      background-color: #6573c3;
    }
  }
  